'name': 'Search and replace buffer'
'scopeName': 'source.search-and-replace'
'fileTypes': [ ]
'patterns': [
  {
    'match': 'PLACE_HOLDER_XXXXJKAFJA:FJAK:JOIJF' # never match
    'name': 'keyword.search.search-and-replace'
  }
  {
    'match': '$a' # never match
    'name': 'entity.name.function.search-and-replace'
  }
  {
    'match': '^ (\\d+):(\\d+):'
    'name': 'location.search-and-replace'
    'captures':
      '1':
        'name': 'constant.numeric.line.search-and-replace'
      '2':
        'name': 'constant.numeric.column.search-and-replace'
  }
  {
    'begin': '^(#{2})(\\s*)'
    'end': '$'
    'name': 'markup.heading.heading-2.search-and-replace'
    'captures':
      '1':
        'name': 'markup.heading.marker.search-and-replace'
      '2':
        'name': 'markup.heading.space.search-and-replace'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'begin': '^(#{1})(\\s*)'
    'end': '$'
    'name': 'markup.heading.heading-1.search-and-replace'
    'captures':
      '1':
        'name': 'markup.heading.marker.search-and-replace'
      '2':
        'name': 'markup.heading.space.search-and-replace'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
]
